<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoading | async" >
   
    <skeleton class="navbar-brand" Cwidth="73" Cheight="32"></skeleton>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <skeleton class="nav-link" Cwidth="70" Cheight="27"></skeleton>
        </li>
        
        <li class="nav-item">
            <skeleton class="nav-link" Cwidth="70" Cheight="27"></skeleton>
        </li>
        <li class="nav-item">
            <skeleton class="nav-link" Cwidth="70" Cheight="27"></skeleton>
        </li>
        
       

      </ul>
      
      <skeleton class="nav-link" Cwidth="115" Cheight="27"></skeleton>
        
    </div>
  </nav>
