
.search{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
mat-form-field{
  width: 70%!important;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
 

.center{
    margin: 0 auto;
}
.delete{
  color: #d00c0cd9;
}