<mat-nav-list *ngIf="exibition">

  <mat-menu #appMenu="matMenu" >
    <ng-template matMenuContent let-menu="name">
      <div *ngFor="let option of menuOptions" ><button  mat-menu-item routerLink="{{option.href}}" *ngIf="menu == option.menuOptionName">{{  option.name }}</button></div>
    </ng-template>
  </mat-menu>
    
    <mat-list-item  mat-icon-button [matMenuTriggerFor]="appMenu"*ngFor="let menu of menuOptionsNames" [matMenuTriggerData]="menu">
      <!-- <mat-icon>more_vert</mat-icon> --> {{ menu.name }}
    </mat-list-item >
    <mat-list-item *ngFor="let itens of menuItens" routerLink="{{itens.href}}" >{{ itens.name }}</mat-list-item>

    
  </mat-nav-list>